.head {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #137cbd;
}

.head_wrap {
  min-width: 1100px;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
}

.logo_img {
  height: 80px;
  width: 100px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
