.container {
  padding-top: 100px;
  background-color: rgb(146, 158, 170);
  height: 100%;
}

.keeps {
  display: flex;
  flex-wrap: wrap;
}

.addKeep {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 150px;
  bottom: 20px;
}

.addKeep span {
  font-size: 15px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
  margin-left: 35px;
}
